@model List<Device>
@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="Create">Create a new device</a>
<h2>Devices list</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Seller
            </th>
            <th>
                Description
            </th>
            <th>
                More
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                <td>
                    <a asp-controller="Manufacturer" asp-action="Details" asp-route-id="@item.Manufacturer.Id">@item.Manufacturer.Name</a> 
                </td>
                <td>
                    <a asp-controller="Seller" asp-action="Details" asp-route-id="@item.Seller.Id">@item.Seller.Name</a>
                </td>
                <td>
                        @item.Description
                </td>
                <td>
                    <a asp-action="Index">Edit</a> | <a asp-action="Index">Delete</a> | <a asp-route-id="@item.Id" asp-action="Details">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
