@using lab15.ViewModels
@model List<DeviceViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="Create">Create a new device</a>
<h2>Devices list</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Seller
            </th>
            <th>
                Category
            </th>
            <th>
                More
            </th>
            <th>
                Buy
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                <td>
                    <a asp-controller="Manufacturer" asp-action="Details" asp-route-id="@item.ManufacturerId">@item.Manufacturer</a> 
                </td>
                <td>
                    <a asp-controller="Seller" asp-action="Details" asp-route-id="@item.SellerId">@item.Seller</a>
                </td>
                <td>
                    <a asp-controller="Category" asp-action="Details" asp-route-id="@item.CategoryId">@item.Category</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
                    @if (item.Amount == 0)
                    {
                    <td>
                        <p class="text-danger">Sold out</p>
                    </td>
                    }
                    else
                    {
                    <td>
                        <a asp-action="Buy" asp-route-id="@item.Id">Buy</a>
                    </td>
                    }
            </tr>
        }
    </tbody>
</table>
