@using lab15.ViewModels
@model CategoryViewModel

<h2>Details</h2>
<div>
    <h3>@Model.Name</h3>
    @if (Model.DevicesView == null)
    {
        <h3>This manufacturer has no products</h3>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Manufacturer
                </th>
                <th>
                    Seller
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DevicesView)
            {
                <tr>
                    <td>
                        @item.Name 
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Manufacturer
                    </td>
                    <td>
                        @item.Seller
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-controller="Device" asp-action="Index">Back to List</a>
</div>

